<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You Have a due task</h1>
    <p>
    <i>task</i> : <b><%= @todo_list.title%></b>is scheduled
    </p> 
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
